<main id="main" class="main">
  <div class="pagetitle">
     </div>
     <section class="section">
        <div class="container-fluid">
           <div class="col-lg-12">
              <div class="card">
                 <div class="card-body">
                   <nav class="navbar navbar-expand-lg bg-body-tertiary">
                      <div class="container-fluid">
                        <a class="container-fluid"><strong><b><h1 class="card-title"><strong>Product Master</strong></h1></b></strong></a>
                      </div>
                    </nav>
  <form [formGroup]="userForm">
    <div class="mt-5 box">
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Add Product</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Add Product Brand</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input
                type="text"
                formControlName="address"
                class="form-control"
                placeholder=""
              />
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Add Material</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input
                type="text"
                formControlName="contactNo"
                class="form-control"
                placeholder=""
              />
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Add Quantity</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input
                type="text"
                formControlName="gender"
                class="form-control"
                placeholder=""
              />
            </div>
          </div>
        </div>

        <div class="form-row mt-4">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="addItem()">
              Add
            </button>
            <span style="margin-left: 10px;"></span> <!-- Adds 10px margin between the buttons -->
            <button type="button" class="btn btn-danger" (click)="reset()">
              Remove
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </form>

  <div class="col-md-12 mt-4 mb-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Product Brand</th>
          <th>Material</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData">
          <td>
            <span>{{ item.name }}</span>
          </td>
          <td>
            <span>{{ item.address }}</span>
          </td>
          <td>
            <span>{{ item.contactNo }}</span>
          </td>
          <td>
            <span>{{ item.gender }}</span>
          </td>
          <td>
            <button
              class="btn btn-danger"
              type="button"
              (click)="removeItem(item)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

                  </div></div></div></section></main>