<main id="main" class="main" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="pagetitle">
    </div>
    <section class="section" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <nav class="navbar navbar-expand-lg bg-body-tertiary">
                            <div class="container-fluid">
                                <a class="container-fluid"><strong><b>
                                            <h1 class="card-title">
                                                <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">
                                                    Invoice</h3><strong></strong>
                                            </h1>
                                        </b></strong></a>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav><br>

                        <body>
                            <header style="font-family: Georgia, 'Times New Roman', Times, serif;">
                                <p>Date: June 26, 2023</p>
                            </header>

                            <main style="font-family: Georgia, 'Times New Roman', Times, serif;">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Bottle</td>
                                            <td>2</td>
                                            <td>$10.00</td>
                                            <td>$20.00</td>
                                        </tr>
                                        <tr>
                                            <td>Glass</td>
                                            <td>1</td>
                                            <td>$25.00</td>
                                            <td>$25.00</td>
                                        </tr>
                                        <tr>
                                            <td>Polytheine</td>
                                            <td>3</td>
                                            <td>$5.00</td>
                                            <td>$15.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot><br>
                                        <tr>
                                            <td colspan="3" class="total">Subtotal:</td>
                                            <td>$60.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="total">Tax:</td>
                                            <td>$6.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="total">Total:</td>
                                            <td>$66.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </main>

                            <footer><br><strong>
                                    <p style="font-family: Georgia, 'Times New Roman', Times, serif;">Thank you for your
                                        business!</p>
                                </strong>
                            </footer>
                        </body>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>