<main id="main" class="main">
    <section class="section">
      <div class="container-fluid">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Product Material</h1><br>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label for="selectproduct">Select Product</label>
                      <select class="form-control" id="selectproduct" [(ngModel)]="selectedProduct" (change)="openRecipeScreen()">
                        <option value="">-- Select --</option>
                        <option value="household">Household</option>
                        <option value="bottle">Bottle</option>
                        <option value="plastic">Plastic</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedProduct"><br><br>
                <h4>Recipe for {{ selectedProduct }}</h4>
                <table class="recipe-table"><br>
                  <tr>
                    <th>>Product</th>
                    <th>Material</th>
                    <th>Element</th>
                    <th>Customer Name</th>
                    <th>Polymer</th>
                  </tr>
                  <tr>
                    <td>{{ selectedProduct }}</td>
                    <td>{{ recipeData.material }}</td>
                    <td>{{ recipeData.element }}</td>
                    <td>{{ recipeData.customerName }}</td>
                    <td>{{ recipeData.polymer }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  