.product-material-container {
  margin-bottom: 50px;
}

.product-material-table {
  width: 100%;
  border-collapse: collapse;
}

.product-material-table th,
.product-material-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.product-material-table th {
  background-color: #f2f2f2;
  text-align: left;
}
