<main id="main" class="main">
    <div class="pagetitle"></div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Products Material</h1><br>
              <div class="row">
                <div class="col-lg-12">
                  <div class="product-material-container">
                    <div class="row" style="margin-bottom: 40px;">
                      <div class="col-md-4">
                        <label for="productName">Product:</label>
                        <select id="productName" class="form-select" name="productName"
                          [(ngModel)]="selectedProduct" (change)="onProductChange()">
                          <option value="" selected>--Select--</option>
                          <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
                        </select>
                      </div>
                    </div>
                    <table class="product-material-table">
                      <thead>
                        <tr>
                          <th>Material Name</th>
                          <th>Material Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let material of selectedProductMaterials">
                          <td>{{ material.name }}</td>
                          <td>{{ material.description }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  