<main id="main" class="main">
    <div class="pagetitle"></div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Products Material</h1><br>
              <div class="row">
                <div class="col-lg-12">
                  <div class="product-material-container">
                    <div class="row" style="margin-bottom: 40px;">
                      <div class="col-md-4">
                        <label for="productName">Product:</label>
                        <select id="productName" class="form-select" name="productName"
                          [(ngModel)]="selectedProduct" (change)="onProductChange()">
                          <option value="" selected>--Select--</option>
                          <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="product-material-table">
                        <thead>
                          <tr>
                            <th>Material Name</th>
                            <th>Material Description</th>
                            <th>Column 1</th>
                            <th>Column 2</th>
                            <th>Column 3</th>
                            <th>Column 4</th>
                            <th>Column 5</th>
                            <th>Column 6</th>
                            <th>Column 7</th>
                            <th>Column 8</th>
                            <th>Column 9</th>
                            <th>Column 10</th>
                            <th>Column 11</th>
                            <th>Column 12</th>
                            <th>Column 13</th>
                            <th>Column 14</th>
                            <th>Column 15</th>
                            <th>Column 16</th>
                            <th>Column 17</th>
                            <th>Column 18</th>
                            <th>Column 19</th>
                            <th>Column 20</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let material of selectedProductMaterials">
                            <td>{{ material.name }}</td>
                            <td>{{ material.description }}</td>
                            <td>{{ material.column1 }}</td>
                            <td>{{ material.column2 }}</td>
                            <td>{{ material.column3 }}</td>
                            <td>{{ material.column4 }}</td>
                            <td>{{ material.column5 }}</td>
                            <td>{{ material.column6 }}</td>
                            <td>{{ material.column7 }}</td>
                            <td>{{ material.column8 }}</td>
                            <td>{{ material.column9 }}</td>
                            <td>{{ material.column10 }}</td>
                            <td>{{ material.column11 }}</td>
                            <td>{{ material.column12 }}</td>
                            <td>{{ material.column13 }}</td>
                            <td>{{ material.column14 }}</td>
                            <td>{{ material.column15 }}</td>
                            <td>{{ material.column16 }}</td>
                            <td>{{ material.column17 }}</td>
                            <td>{{ material.column18 }}</td>
                            <td>{{ material.column19 }}</td>
                            <td>{{ material.column20 }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  