<main id="main" class="main">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div *ngIf="successMessage" class="alert alert-success">
              {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>
            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Create Raw Material</strong></h1><br>
            <div class="col-md-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <form class="search-form d-flex align-items-center" (submit)="search()">
                <div class="input-group">
                  <input class="form-control" id="searchKeyword" name="query" type="text" placeholder="Search.."
                    title="Enter search keyword" [(ngModel)]="searchKeyword" />
                  <button type="submit" class="btn btn-primary" title="Search">
                    Search
                  </button>
                </div>
              </form>
            </div>
            <div class="row" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="name">Add Material</label>
                    <input type="text" class="form-control" placeholder="Enter Material" id="name"
                      [(ngModel)]="newRawMaterial.name" />
                  </div>
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="nametype">Add Material Type</label>
                    <input type="text" class="form-control" placeholder="Enter Material" id="nametype"
                      [(ngModel)]="newRawMaterial.MaterialType" />
                  </div>
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="namecost">Add Current Cost</label>
                    <input type="number" class="form-control" placeholder="Enter Material Cost" id="namecost"
                      [(ngModel)]="newRawMaterial.CurrentCost" />
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="namevendor">Add Vendor</label>
                    <input type="text" class="form-control" placeholder="Enter Vendor" id="namevendor"
                      [(ngModel)]="newRawMaterial.VendorInfo" />
                  </div>
                  <div class="col-md-4"style="margin-top: 30px;">
                    <label for="namelevel">Add Inventory Level</label>
                    <input type="text" class="form-control" placeholder="Enter Inventory Level" id="namelevel"
                      [(ngModel)]="newRawMaterial.InventoryLevel" />
                  </div>
                </div>
                <div class="col-12 mt-5 mb-4 text-right">
                  <button class="btn btn-primary" (click)="insertData()">Add</button>
                </div>
              </div>
            </div>
            <div class="row mt-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <div class="col-lg-12">
                <!-- <table class="table">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Material Name</th>
                      <th>Material Type</th>
                      <th>Current Cost</th>
                      <th>Vendor Info</th>
                      <th>Inventory Level</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let material of rawMaterials; let i = index">
                      <td>{{ material.id }}</td>
                      <td>
                        <ng-container *ngIf="!isEditing[i]">
                          {{ material.name }}
                        </ng-container>
                        <ng-container *ngIf="isEditing[i]">
                          <input type="text" class="form-control" [(ngModel)]="material.name">
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing[i]">
                          {{ material.MaterialType }}
                        </ng-container>
                        <ng-container *ngIf="isEditing[i]">
                          <input type="text" class="form-control" [(ngModel)]="material.MaterialType">
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing[i]">
                          {{ material.CurrentCost }}
                        </ng-container>
                        <ng-container *ngIf="isEditing[i]">
                          <input type="number" class="form-control" [(ngModel)]="material.CurrentCost">
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing[i]">
                          {{ material.VendorInfo }}
                        </ng-container>
                        <ng-container *ngIf="isEditing[i]">
                          <input type="text" class="form-control" [(ngModel)]="material.VendorInfo">
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing[i]">
                          {{ material.InventoryLevel }}
                        </ng-container>
                        <ng-container *ngIf="isEditing[i]">
                          <input type="text" class="form-control" [(ngModel)]="material.InventoryLevel">
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing[i]">
                          <button class="btn btn-primary btn-sm" (click)="editData(i)">Edit</button>
                        </ng-container>
                        <ng-container *ngIf="isEditing[i]">
                          <button class="btn btn-success btn-sm" (click)="saveData(i)">Save</button>
                        </ng-container>
                        <button class="btn btn-danger btn-sm" (click)="removeData(i)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
