
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6e6e6;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

  .description {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.list-details {
    list-style: none;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    
}
.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.list-details {
  list-style: none;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.list-details li:not(:first-child) {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}

.list-details li strong {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
}

.list-details li span {
  display: inline-block;
  font-size: 16px;
}

