<main id="main" class="main" style="font-family: Georgia, 'Times New Roman', Times, serif;">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card"><br>
          <div class="card-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <strong>List of Created Recipe</strong>
            </h1>
            <div class="col-md-4" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 750px;">
              <form class="search-form d-flex align-items-center">
                <div class="input-group">
                  <input class="form-control" [(ngModel)]="searchKeyword" id="searchKeyword" name="query" type="text"
                    placeholder="Search here.." title="Enter search keyword" />

                  <button type="submit" class="btn btn-primary" title="Search" (click)="searchRecipes()">Search</button>
                </div>
              </form>
            </div><br>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-md-12">
                    <table style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 15px;">
                      <thead>
                        <tr>
                          <th (click)="sortTable('Id')">ID <i class="bi bi-arrow-down-up"></i></th>
                          <th (click)="sortTable('NAME')">Product Name <i class="bi bi-arrow-down-up"></i></th>
                          <th (click)="sortTable('category')">Product Category <i class="bi bi-arrow-down-up"></i></th>
                          <th (click)="sortTable('brand')">Product Brand <i class="bi bi-arrow-down-up"></i></th>
                          <th (click)="sortTable('customer')">Customer Type <i class="bi bi-arrow-down-up"></i></th>
                          <th (click)="sortTable('clienttype')">Client Type <i class="bi bi-arrow-down-up"></i></th>
                          <th>Details</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let recipe of filteredRecipes">
                          <td>{{ recipe.Id }}</td>
                          <td>
                            <ng-container *ngIf="!recipe.isEditing; else editNAME">
                              {{ recipe.NAME }}
                            </ng-container>
                            <ng-template #editNAME>
                              <input type="text" [(ngModel)]="recipe.NAME" class="form-control">
                            </ng-template>
                          </td>
                          <td>
                            <ng-container *ngIf="!recipe.isEditing; else editCategory">
                              {{ recipe.category }}
                            </ng-container>
                            <ng-template #editCategory>
                              <input type="text" [(ngModel)]="recipe.category" class="form-control">
                            </ng-template>
                          </td>
                          <td>
                            <ng-container *ngIf="!recipe.isEditing; else editBrand">
                              {{ recipe.brand }}
                            </ng-container>
                            <ng-template #editBrand>
                              <input type="text" [(ngModel)]="recipe.brand" class="form-control">
                            </ng-template>
                          </td>
                          <td>
                            <ng-container *ngIf="!recipe.isEditing; else editCustomer">
                              {{ recipe.customer }}
                            </ng-container>
                            <ng-template #editCustomer>
                              <input type="text" [(ngModel)]="recipe.customer" class="form-control">
                            </ng-template>
                          </td>
                          <td>
                            <ng-container *ngIf="!recipe.isEditing; else editClientType">
                              {{ recipe.clienttype }}
                            </ng-container>
                            <ng-template #editClientType>
                              <input type="text" [(ngModel)]="recipe.clienttype" class="form-control">
                            </ng-template>
                          </td>
                          <td>
                            <!-- Modal Show -->

                            <button class="bi bi-info-circle" style="margin-inline-start: 40px;"
                              (click)="showDetails(recipe)" (click)="openModal()"></button>

                            <!-- ViewFullRecipe Screen -->

                            <!-- <button class="bi bi-info-circle" style="margin-inline-start: 40px;"
                            [routerLink]="['/viewfullrecipe', recipe.Id]"></button> -->
                              
                          </td>
                          <td>
                            <ng-container *ngIf="!recipe.isEditing; else editButtons">
                              <button class="btn btn-sm btn-primary" style="margin-inline: 2px;"
                                (click)="editRecipe(recipe)">Edit</button>
                              <button class="btn btn-sm btn-danger" style="margin-inline: 2px;"
                                (click)="deleteRecipe(recipe)">Delete</button>
                            </ng-container>
                            <ng-template #editButtons>
                              <button class="btn btn-sm btn-success" style="margin-inline: 2px;"
                                (click)="updateRecipe(recipe)">Update</button>
                            </ng-template>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Details Modal -->
<div class="modal fade" id="exampleModalToggle" [class.show]="isModalOpen" [class.d-block]="isModalOpen" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fs-5" id="mexampleModalToggleLabel" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 600px;">
          <strong>Product: {{ selectedRecipe?.NAME }}</strong>
        </h4>
      </div>
      <br><br><br>
      <h5 style="font-family:Georgia, 'Times New Roman', Times, serif; margin-inline: 600px;">Product Details</h5>
      <div class="modal-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="table-container">
          <table style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;">
            <tbody>
              <tr>
                <!-- <th>Sn.</th> -->
                <!-- <th>Id</th> -->
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Product Brand</th>
                <th>Customer Type</th>
                <th>Client Type</th>
                <th>Action</th>
              </tr>
              <tr>
                <!-- <td>{{  + 1 }}</td> -->
                <!-- <td>{{ selectedRecipe?.Id }}</td> -->
                <td>
                  <ng-container>{{ selectedRecipe?.NAME }}</ng-container>
                  <ng-template #editProductName><input type="text" [(ngModel)]="selectedRecipe.NAME" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container>{{ selectedRecipe?.category }}</ng-container>
                  <ng-template #editProductCategory><input type="text" [(ngModel)]="selectedRecipe.category" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container>{{ selectedRecipe?.brand }}</ng-container>
                  <ng-template #editProductBrand><input type="text" [(ngModel)]="selectedRecipe.brand" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container>{{ selectedRecipe?.customer }}</ng-container>
                  <ng-template #editProductCustomer><input type="text" [(ngModel)]="selectedRecipe.customer" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container>{{ selectedRecipe?.clienttype }}</ng-container>
                  <ng-template #editProductClientType><input type="text" [(ngModel)]="selectedRecipe.clienttype" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="editMaterialButtons">
                    <button class="btn btn-sm btn-primary" style="margin-inline: 2px;">Edit</button>
                    <button class="btn btn-sm btn-danger" style="margin-inline: 2px;">Delete</button>
                  </ng-container>
                  <ng-template #editMaterialButtons>
                    <button class="btn btn-sm btn-success" style="margin-inline: 2px;">Update</button>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="table-container">
          <h5 style="font-family:Georgia, 'Times New Roman', Times, serif; margin-inline: 600px;">Material Details</h5>
          <br>
          <table style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;">
            <tbody>
              <tr>
                <th>Recipe</th>
                <!-- <th>Id</th> -->
                <!-- <th>Product Name</th> -->
                <!-- <th>Product Category</th>
                <th>Product Brand</th>
                <th>Customer Type</th>
                <th>Client Type</th> -->
                <th>Material Name</th>
                <th>Code</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Vendor</th>
                <th>Stock</th>
                <th>Total Cost</th>
                <th>Action</th>
              </tr>
              <tr *ngFor="let material of getSelectedProductMaterials(); let sn = index;">
                <td>{{ sn + 1 }}</td>
                <!-- <td>{{ selectedRecipe?.Id }}</td> -->
                <!-- <td>
                  <ng-container *ngIf="!material.isEditing; else editProductName">{{ selectedRecipe?.NAME }}</ng-container>
                  <ng-template #editProductName><input type="text" [(ngModel)]="selectedRecipe.NAME" class="form-control"></ng-template>
                </td> -->
                <!-- <td>
                  <ng-container *ngIf="!material.isEditing; else editProductCategory">{{ selectedRecipe?.category }}</ng-container>
                  <ng-template #editProductCategory><input type="text" [(ngModel)]="selectedRecipe.category" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editProductBrand">{{ selectedRecipe?.brand }}</ng-container>
                  <ng-template #editProductBrand><input type="text" [(ngModel)]="selectedRecipe.brand" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editProductCustomer">{{ selectedRecipe?.customer }}</ng-container>
                  <ng-template #editProductCustomer><input type="text" [(ngModel)]="selectedRecipe.customer" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editProductClientType">{{ selectedRecipe?.clienttype }}</ng-container>
                  <ng-template #editProductClientType><input type="text" [(ngModel)]="selectedRecipe.clienttype" class="form-control"></ng-template>
                </td> -->
                <td>
                  <ng-container *ngIf="!material.isEditing; else editMaterialName">{{ material.material }}</ng-container>
                  <ng-template #editMaterialName><input type="text" [(ngModel)]="material.material" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editMaterialCode">{{ material.mcode }}</ng-container>
                  <ng-template #editMaterialCode><input type="text" [(ngModel)]="material.mcode" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editMaterialType">{{ material.mtype }}</ng-container>
                  <ng-template #editMaterialType><input type="text" [(ngModel)]="material.mtype" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editMaterialQuantity">{{ material.mquantity }}</ng-container>
                  <ng-template #editMaterialQuantity><input type="text" [(ngModel)]="material.mquantity" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editMaterialCost">{{ material.mcost }}</ng-container>
                  <ng-template #editMaterialCost><input type="text" [(ngModel)]="material.mcost" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editMaterialVendor">{{ material.mvendor }}</ng-container>
                  <ng-template #editMaterialVendor><input type="text" [(ngModel)]="material.mvendor" class="form-control"></ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editMaterialStock">{{ material.minventory }}</ng-container>
                  <ng-template #editMaterialStock><input type="text" [(ngModel)]="material.minventory" class="form-control"></ng-template>
                </td>
                <td><strong>{{ calculateTotalCost() }}</strong></td>
                <td>
                  <ng-container *ngIf="!material.isEditing; else editMaterialButtons">
                    <button class="btn btn-sm btn-primary" style="margin-inline: 2px;" (click)="editMaterial(material)">Edit</button>
                    <button class="btn btn-sm btn-danger" style="margin-inline: 2px;" (click)="deleteMaterial(material)">Delete</button>
                  </ng-container>
                  <ng-template #editMaterialButtons>
                    <button class="btn btn-sm btn-success" style="margin-inline: 2px;" (click)="updateMaterial(material)">Update</button>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" style="margin-inline-start: 40px;" routerLink="/invoice">invoice</button>
        <!-- <button type="button" class="btn btn-primary" aria-label="">Add Material</button> -->
        <button type="button" class="btn btn-dark" (click)="closeModal()" aria-label="Close">Back</button>
      </div>
    </div>
  </div>
</div>
