<main id="main" class="main">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">
              <strong style="font-family: Georgia, 'Times New Roman', Times, serif;"></strong>
            </h1>
            <!-- <div class="col-md-4" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 750px;">
              <form class="search-form d-flex align-items-center">
                <div class="input-group">
                  <input class="form-control" id="searchKeyword" name="query" type="text" [(ngModel)]="searchKeyword"
                    placeholder="Search here.." title="Enter search keyword" (input)="search()" />
                  <button type="submit" class="btn btn-primary" title="Search">Search</button>
                </div>
              </form>
            </div> -->
            <div class="table-responsive">
              <table style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;">
                <tbody>
                  <tr>
                    <th>#</th>
                    <th>Material Name</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Vendor</th>
                    <th>Stock</th>
                    <th>Total Cost</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let material of productDetails; let sn = index;">
                    <td>{{ sn + 1 }}</td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialName">{{ material.material }}</ng-container>
                      <ng-template #editMaterialName><input type="text" [(ngModel)]="material.material"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialCode">{{ material.mcode }}</ng-container>
                      <ng-template #editMaterialCode><input type="text" [(ngModel)]="material.mcode"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialType">{{ material.mtype }}</ng-container>
                      <ng-template #editMaterialType><input type="text" [(ngModel)]="material.mtype"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialQuantity">{{ material.mquantity }}</ng-container>
                      <ng-template #editMaterialQuantity><input type="text" [(ngModel)]="material.mquantity"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialCost">{{ material.mcost }}</ng-container>
                      <ng-template #editMaterialCost><input type="text" [(ngModel)]="material.mcost"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialVendor">{{ material.mvendor }}</ng-container>
                      <ng-template #editMaterialVendor><input type="text" [(ngModel)]="material.mvendor"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialStock">{{ material.minventory }}</ng-container>
                      <ng-template #editMaterialStock><input type="text" [(ngModel)]="material.minventory"
                          class="form-control"></ng-template>
                    </td>
                    <td></td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialButtons">
                        <button class="btn btn-sm btn-primary" style="margin-inline: 2px;" (click)="editMaterial(material)">Edit</button>
                        <button class="btn btn-sm btn-danger" style="margin-inline: 2px;" (click)="deleteMaterial(material)">Delete</button>
                      </ng-container>
                      <ng-template #editMaterialButtons>
                        <button class="btn btn-sm btn-success" style="margin-inline: 2px;" (click)="updateMaterial(material)">Update</button>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br><br>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <div style="display: flex; gap: 10px; margin-inline: 980px;">
                  <button type="button" class="btn btn-warning" routerLink="/invoice">Invoice</button>
                  <button type="button" class="btn btn-dark" routerLink="/viewrecipe">Back</button>
                </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>