<main id="main" class="main">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">
              <strong style="font-family: Georgia, 'Times New Roman', Times, serif;"></strong>
            </h1>
            <!-- <div class="col-md-4" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 750px;">
              <form class="search-form d-flex align-items-center">
                <div class="input-group">
                  <input class="form-control" id="searchKeyword" name="query" type="text" [(ngModel)]="searchKeyword"
                    placeholder="Search here.." title="Enter search keyword" (input)="search()" />
                  <button type="submit" class="btn btn-primary" title="Search">Search</button>
                </div>
              </form>
            </div> -->
            <h4 style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 400px;">Product - {{
              selectedRecipe.NAME }}</h4>
            <br><br>
            <!-- product-details.component.html -->
            <div class="table-responsive">
              <h6 style="font-family: Georgia, 'Times New Roman', Times, serif;">Product Details</h6>
              <div *ngIf="selectedRecipe">
                <table style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;">
                  <tbody style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <tr>
                      <th>Sn.</th>
                      <th>Product Name</th>
                      <th>Category</th>
                      <th>Brand</th>
                      <th>Customer Type</th>
                      <th>Client Type</th>
                      <th>Action</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <ng-container *ngIf="!isEditing; else editProductName">{{ selectedRecipe.NAME }}</ng-container>
                        <ng-template #editProductName><input type="text" [(ngModel)]="selectedRecipe.NAME"
                            class="form-control"></ng-template>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing; else editProductCategory">{{ selectedRecipe.category
                          }}</ng-container>
                        <ng-template #editProductCategory><input type="text" [(ngModel)]="selectedRecipe.category"
                            class="form-control"></ng-template>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing; else editProductBrand">{{ selectedRecipe.brand
                          }}</ng-container>
                        <ng-template #editProductBrand><input type="text" [(ngModel)]="selectedRecipe.brand"
                            class="form-control"></ng-template>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing; else editProductCustomer">{{ selectedRecipe.customer
                          }}</ng-container>
                        <ng-template #editProductCustomer><input type="text" [(ngModel)]="selectedRecipe.customer"
                            class="form-control"></ng-template>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing; else editProductClientType">{{ selectedRecipe.clienttype
                          }}</ng-container>
                        <ng-template #editProductClientType><input type="text" [(ngModel)]="selectedRecipe.clienttype"
                            class="form-control"></ng-template>
                      </td>
                      <td>
                        <ng-container *ngIf="!isEditing">
                          <button class="btn btn-sm btn-primary" style="margin-inline: 2px;"
                            (click)="editProduct()">Edit</button>
                        </ng-container>
                        <ng-container *ngIf="isEditing">
                          <button class="btn btn-sm btn-success" style="margin-inline: 2px;"
                            (click)="updateProduct()">Update</button>
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br><br><br>
            <div class="table-responsive">
              <h6 style="font-family: Georgia, 'Times New Roman', Times, serif;">Material Details</h6>
              <table style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;">
                <tbody>
                  <tr>
                    <th>Recipe</th>
                    <th>Material Name</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Vendor</th>
                    <th>Stock</th>
                    <th>Total Cost</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let material of productDetails; let sn = index;">
                    <td>{{ sn + 1 }}</td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialName">{{ material.material
                        }}</ng-container>
                      <ng-template #editMaterialName><input type="text" [(ngModel)]="material.material"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialCode">{{ material.mcode
                        }}</ng-container>
                      <ng-template #editMaterialCode><input type="text" [(ngModel)]="material.mcode"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialType">{{ material.mtype
                        }}</ng-container>
                      <ng-template #editMaterialType><input type="text" [(ngModel)]="material.mtype"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialQuantity">{{ material.mquantity
                        }}</ng-container>
                      <ng-template #editMaterialQuantity><input type="text" [(ngModel)]="material.mquantity"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialCost">{{ material.mcost
                        }}</ng-container>
                      <ng-template #editMaterialCost><input type="text" [(ngModel)]="material.mcost"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialVendor">{{ material.mvendor
                        }}</ng-container>
                      <ng-template #editMaterialVendor><input type="text" [(ngModel)]="material.mvendor"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialStock">{{ material.minventory
                        }}</ng-container>
                      <ng-template #editMaterialStock><input type="text" [(ngModel)]="material.minventory"
                          class="form-control"></ng-template>
                    </td>
                    <td> <ng-container *ngIf="!material.isEditing; else editMaterialCost">{{ material.mcost
                        }}</ng-container>
                      <ng-template #editMaterialCost><input type="text" [(ngModel)]="material.mcost"
                          class="form-control"></ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!material.isEditing; else editMaterialButtons">
                        <button class="btn btn-sm btn-primary" style="margin-inline: 2px;"
                          (click)="editMaterial(material)">Edit</button>
                      </ng-container>
                      <ng-container>
                        <button class="btn btn-sm btn-success" style="margin-inline: 2px;"
                          (click)="showBlankRow = true">Add</button></ng-container>
                      <ng-container editMaterialButtons>
                        <button class="btn btn-sm btn-danger" style="margin-inline: 2px;">Delete</button>
                      </ng-container>
                      <ng-template #editMaterialButtons>
                        <button class="btn btn-sm btn-success" style="margin-inline: 2px;"
                          (click)="updateMaterial(material)">Update</button>
                      </ng-template>
                    </td>
                  </tr>
                  <!-- Blank row template -->
                  <tr *ngIf="showBlankRow">
                    <td>{{ productDetails.length + 1 }}</td>
                    <td>
                      <select id="selectedMaterial" class="form-select" name="selectedMaterial"
                        (change)="onMaterialChange($event)" [(ngModel)]="newProduct.material" required>
                        <option value="">--Select--</option>
                        <option *ngFor="let material of materials" [value]="material.name">{{ material.name }}</option>
                      </select>
                    </td>
                    <td>
                      <div *ngIf="selectedMaterialData">
                        <div>
                          <input type="text" id="code" class="form-control" name="code"
                            [(ngModel)]="selectedMaterialData.m_code" readonly>
                          <input type="hidden" value="0" id="p_id" class="form-control" name="p_id"
                            [(ngModel)]="selectedMaterialData.p_id" readonly>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="selectedMaterialData">
                        <div>
                          <input type="text" id="type" class="form-control" name="type"
                            [(ngModel)]="selectedMaterialData.m_type" readonly>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="selectedMaterialData">
                        <div>
                          <input type="text" placeholder="Enter here" id="newmquantityperkg" class="form-control"
                            name="newmquantityperkg" [(ngModel)]="selectedMaterialData.mquantity"
                            (input)="calculatePrice()" required>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="selectedMaterialData">
                        <div>
                          <input type="text" id="cost" class="form-control" name="cost"
                            [(ngModel)]="selectedMaterialData.m_cost" readonly>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="selectedMaterialData">
                        <div>
                          <input type="text" id="vendor" class="form-control" name="vendor"
                            [(ngModel)]="selectedMaterialData.m_Vendor" readonly>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="selectedMaterialData">
                        <div>
                          <input type="text" id="M_inventory" class="form-control" name="M_inventory"
                            [(ngModel)]="selectedMaterialData.m_inventory" readonly>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="selectedMaterialData">
                        <div>
                          <input type="text" id="cost" class="form-control" name="cost"
                            [(ngModel)]="selectedMaterialData.m_cost" readonly>
                        </div>
                      </div>
                    </td>
                    <td>
                      <ng-container>
                        <button class="btn btn-sm btn-primary" style="margin-inline: 2px;">Edit</button>
                      </ng-container>
                      <ng-container>
                        <button class="btn btn-sm btn-success" style="margin-inline: 2px;"
                          (click)="showBlankRow = true">Add</button></ng-container>
                      <ng-container editMaterialButtons>
                        <button class="btn btn-sm btn-danger" style="margin-inline: 2px;">Delete</button>
                      </ng-container>
                      <ng-template #editMaterialButtons>
                        <button class="btn btn-sm btn-success" style="margin-inline: 2px;">Update</button>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br><br>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <div style="display: flex; gap: 10px; margin-inline: 970px;">
                <button type="button" class="btn btn-warning" routerLink="/invoice">Invoice</button>
                <button type="button" class="btn btn-dark" routerLink="/viewrecipe">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>