<main id="main" class="main">
 <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <br>
          <div class="card-body">
            <h1 class="card-title">
              <strong style="font-family: Georgia, 'Times New Roman', Times, serif;">Product Recipe Details</strong>
            </h1>
            <div class="col-md-4" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 750px;">
              <form class="search-form d-flex align-items-center">
                <div class="input-group">
                  <input class="form-control" id="searchKeyword" name="query" type="text" [(ngModel)]="searchKeyword"
                    placeholder="Search here.." title="Enter search keyword" (input)="search()" />
                  <button type="submit" class="btn btn-primary" title="Search">Search</button>
                </div>
              </form>
            </div>
            <br><br>
            <div class="table-responsive">
              <table class="table table-bordered table-responsive-md" style="font-size: 12px;">
                <thead>
                  <tr>
                    <th (click)="sortTable('Id')">Id<i class="bi bi-arrow-down-up"></i></th>
                    <!-- <th (click)="sortTable('Id')">Sn.<i class="bi bi-arrow-down-up"></i></th> -->
                    <th (click)="sortTable('name')">Product<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('category')">Category<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('brand')">Brand<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('customer')">Customer<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('clienttype')">Client<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('material')">Material<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('mcode')">Code<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('mtype')">Type<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('mquantity')">Quantity<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('mcost')">Cost<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('mvendor')">Vendor<i class="bi bi-arrow-down-up"></i></th>
                    <th (click)="sortTable('minventory')">Stock<i class="bi bi-arrow-down-up"></i></th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredRecipes; let i = index">
                    <!-- <td>{{ i + 1 }}</td> -->
                    <td>{{ item.Id }}</td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.name }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.name">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.category }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.category">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.brand }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.brand">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.customer }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.customer">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.clienttype }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.clienttype">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.material }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.material">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.mcode }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.mcode">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.mtype }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.mtype">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.mquantity }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.mquantity">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.mcost }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.mcost">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.mvendor }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.mvendor">
                    </td>
                    <td>
                      <span *ngIf="selectedItem !== item">{{ item.minventory }}</span>
                      <input type="text" *ngIf="selectedItem === item" [(ngModel)]="item.minventory">
                    </td>
                    <td>
                      <ng-container *ngIf="selectedItem !== item">
                        <button class="btn btn-sm btn-primary" style="font-size: 12px; margin-inline: 2px;"
                          (click)="editItem(item)">Edit</button>
                        <button class="btn btn-sm btn-danger" style="font-size: 12px;"
                          (click)="deleteItem(item)">Delete</button>
                      </ng-container>
                      <ng-container *ngIf="selectedItem === item">
                        <button class="btn btn-sm btn-success" style="font-size: 12px;"
                          (click)="updateItem(item)">Update</button>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br><br>
              <button type="button" class="btn btn-warning" style="margin-inline: 1060px;" routerLink="/invoice">Inovice</button><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>