<main id="main" class="main">
  <div class="pagetitle">
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Product Master</h1><br>
            <div class="row">
              <div class="col-lg-12">
             
                <form>
                  <div class="row">  
                    <!-- <div class="col-md-4">
                      <label for="productID">Product ID/Code</label>
                      <input type="text" class="form-control" placeholder="Enter id" id="productID" name="productID" required [(ngModel)]="newProduct.productID"><br>
                    </div> -->

                    <div class="col-md-4">
                      <label for="productName">Product Name</label>
                      <input type="text" class="form-control" placeholder="Enter product" id="productName" name="productName" required [(ngModel)]="newProduct.productName"><br>
                    </div>

                    <div class="col-md-4">
                      <label for="productCategory">Product Category</label>
                      <input type="text" class="form-control" placeholder="Enter Category" id="productCategory" name="productCategory" required [(ngModel)]="newProduct.productCategory"><br>
                    </div>

                    <div class="col-md-4">
                      <label for="brand">Brand</label>
                      <input type="text" class="form-control" placeholder="Enter Brand" id="brand" name="brand" required [(ngModel)]="newProduct.brand"><br>
                    </div>

                    <div class="col-md-4">
                      <label for="customerName">Customer Name</label>
                      <input type="text" class="form-control" placeholder="Enter Name" id="customerName" name="customerName" required [(ngModel)]="newProduct.customerName"><br>
                    </div>

                    <div class="col-md-4">
                      <label for="associatedRecipe">Associated Recipe</label>
                      <input type="text" class="form-control" placeholder="Enter Recipe" id="associatedRecipe" name="associatedRecipe" required [(ngModel)]="newProduct.associatedRecipe"><br>
                    </div>

                    <div class="col-md-4">
                      <label for="pricing">Pricing (B2B, B2C, Direct)</label>
                      <input type="text" class="form-control" placeholder="Enter" id="pricing" name="pricing" required [(ngModel)]="newProduct.pricing"><br>
                    </div>
                  </div>
                      
                  <button class="btn-primary" type="button" (click)="addProduct()">Add Product</button>
                </form>
                <br>

                <!-- Displaying existing products -->
                <!-- <h5>Existing Products</h5>
                <table>
                  <thead>
                    <tr>
                      <th>Product ID/Code</th>
                      <th>Product Name</th>
                      <th>Product Category</th>
                      <th>Brand</th>
                      <th>Customer Name</th>
                      <th>Associated Recipe</th>
                      <th>Pricing</th>
                      <th>Actions</th> New column for delete and edit buttons -->
                    <!-- </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of products">
                      <td>{{ product.productID }}</td>
                      <td>{{ product.productName }}</td>
                      <td>{{ product.productCategory }}</td>
                      <td>{{ product.brand }}</td>
                      <td>{{ product.customerName }}</td>
                      <td>{{ product.associatedRecipe }}</td>
                      <td>{{ product.pricing }}</td>
                      <td>
                        <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button> -->
                        <!-- <button class="btn btn-primary" (click)="editProduct(product)">Edit</button> -->
                      <!-- </td>
                    </tr>
                  </tbody>
                </table>
                 -->
                <!-- Show product added message -->
                <!-- <p *ngIf="isProductAdded">Product added successfully!</p>
                <p *ngIf="!isProductAdded">Product already exists!</p> -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
