<main id="main" class="main" style="font-family: Georgia, 'Times New Roman', Times, serif;">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Create Customer</strong></h1>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <div>
                  <form (ngSubmit)="createOrUpdateProduct()" #productForm="ngForm">

                    <!--  Changes WF -->
                    <div class="row">
                      <!-- <div class="col-md-4">
                        <label for="productCategory">Product Category</label>
                        <select id="productCategory" class="form-select" name="productCategory"
                          [(ngModel)]="newProduct.category" required>
                          <option value="">--Select--</option>
                          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="productBrand">Brand</label>
                        <select id="productBrand" class="form-select" name="productBrand" [(ngModel)]="newProduct.brand"
                          required>
                          <option value="">--Select--</option>
                          <option value="Tata">Tata</option>
                          <option value="Indica">Indica</option>
                          <option value="Govt">Govt</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="productName">Product</label>
                        <input type="text" placeholder="Enter here" id="productName" class="form-control"
                          name="productName" [(ngModel)]="newProduct.name" required>
                      </div> -->
                      <!--  End WF -->
                      <!-- Change WF -->
                      <!-- <div class="col-md-4"><br>
                        <label for="associatedRecipe">Associated Recipe</label>
                        <select id="associatedRecipe" class="form-select" name="associatedRecipe"
                          [(ngModel)]="newProduct.recipe" required>
                          <option value="">--Select--</option>
                          <option value="Recipe 1">Recipe 1</option>
                          <option value="Recipe 2">Recipe 2</option>
                          <option value="Recipe 3">Recipe 3</option>
                        </select>
                      </div> -->
                      <!-- End WF -->
                      <div class="col-md-4">
                        <label for="clientType">Client Type</label>
                        <div>
                          <input id="clientType" class="form-control" type="text" name="clientType" placeholder="Enter Type" [(ngModel)]="newProduct.clientType" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label for="customerName">Customer Name</label>
                        <div>
                          <input id="customerName" class="form-control" type="text" placeholder="Enter Name" name="customerName" [(ngModel)]="newProduct.customer" required>
                        </div>
                      </div>
                      <!--  Change WF  -->
                      <!-- <div class="col-md-4"><br>
                        <label for="rawMaterialdata">Raw Material</label>
                        <select id="rawMaterialdata" class="form-select" name="rawMaterialdata"
                          [(ngModel)]="selectedMaterialName" (ngModelChange)="onNameSelected($event)" required>
                          <option value="">-- Select --</option>
                          <option *ngFor="let item of rawElements" [value]="item.name">
                            {{ item.name }}
                          </option>
                        </select>
                      </div> -->
                      <!-- <div class="col-md-4"><br>
                        <label for="rawElementdata">Raw Element</label>
                        <div class="row">
                          <div class="col-md-12">
                            <select id="rawElementdata" class="form-select" name="rawElementdata"
                              [(ngModel)]="selectedFilteredItem" required>
                              <option value="">-- Select --</option>
                              <ng-container *ngFor="let item of filteredData">
                                <option *ngFor="let column of columnData" [value]="item[column]">
                                  {{ item[column] }}
                                </option>
                              </ng-container>
                            </select>
                          </div>
                        </div>
                      </div> -->

                      <!--  End WF -->

                    </div><br><br>
                    <button type="submit" class="btn-primary" [disabled]="!productForm.form.valid">{{
                      isEditMode ? 'Update' : 'Create' }}</button>
                  </form><br><br>
                  <div>
                    <div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
                    <!-- New success message element -->
                    <table>
                      <thead>
                        <tr>
                          <th>Id</th>
                          <!-- <th>Product Name</th>
                          <th>Brand</th> -->
                          <th>Client Type</th>
                          <th>Customer Name</th>
                          <!-- <th>Product Category</th> -->
                          <!-- <th>Raw Material</th>
                          <th>Raw Element</th> -->
                          <th>Action</th>
                          <!-- New column for edit/remove buttons -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of products; let i = index">
                          <td>{{ i + 1 }}</td>
                          <!-- <td>{{ product.name }}</td>
                          <td>{{ product.brand }}</td> -->
                          <!-- <td>{{ product.category }}</td> -->
                          <td>{{ product.clientType }}</td>
                          <td>{{ product.customer }}</td>
                          <!-- <td>{{ product.rawMaterial }}</td>
                          <td>{{ product.rawElement }}</td> -->
                          <td>
                            <button class="btn-primary" (click)="editProduct(i)">Edit</button>
                            <button class="btn-danger" (click)="removeProduct(i)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>