<main id="main" class="main">
    <div class="pagetitle">
    </div>
    <section class="section">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <nav class="navbar navbar-expand-lg bg-body-tertiary">
                            <div class="container-fluid">
                                <a class="container-fluid">
                                    <strong>
                                        <b>
                                            <h1 class="card-title"><strong>
                                                    <h2>Pricing Determination</h2>
                                                </strong></h1>
                                        </b>
                                    </strong>
                                </a>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="pricing-determination">Pricing Determination:</label>
                                    <select id="pricing-determination" class="form-select" aria-label="Default select example">
                                        <option value="">Select</option>
                                        <option value="b2b">B2B</option>
                                        <option value="b2c">B2C</option>
                                        <option value="direct">Direct</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="calculated-costs">Calculated Costs:</label>
                                    <div class="input-group">
                                        <input type="number" id="calculated-costs" class="form-control" placeholder="Enter calculated costs" />
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button class="btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>