<main id="main" class="main" style="font-family: Georgia, 'Times New Roman', Times, serif;">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <strong>Create Recipe</strong>
            </h1>
            <div class="row">
              <div class="col-lg-12">
                <form (ngSubmit)="createOrUpdateProduct()">
                  <!--  Changes WF -->
                  <div class="row">
                    <div class="col-md-4">
                      <label for="productCategory">Product Category</label>
                      <select id="productCategory" class="form-select" name="productCategory"
                        [(ngModel)]="newProduct.category" required>
                        <option value="">--Select--</option>
                        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="productBrand">Brand</label>
                      <select id="productBrand" class="form-select" name="productBrand" [(ngModel)]="newProduct.brand"
                        required>
                        <option value="">--Select--</option>
                        <option value="Tata">Tata</option>
                        <option value="Indica">Indica</option>
                        <option value="Govt">Govt</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="productName">Product Name</label>
                      <input type="text" placeholder="Enter here" id="productName" class="form-control"
                        name="productName" [(ngModel)]="newProduct.name" required>
                    </div>
                    <div class="col-md-4"><br>
                      <label for="customerName">Customer Name</label>
                      <select id="customerName" class="form-select" name="customerName"
                        [(ngModel)]="newProduct.customer" required>
                        <option value="">--Select--</option>
                        <option value="SCJ">SCJ</option>
                        <option value="Clay">Clay</option>
                        <option value="Claylogix">Claylogix</option>
                      </select>
                    </div>
                    <div class="col-md-4"><br>
                      <label for="clientType">Client Type</label>
                      <select id="clientType" class="form-select" name="clientType" [(ngModel)]="newProduct.clientType"
                        required>
                        <option value="">--Select--</option>
                        <option value="B2B">B2B</option>
                        <option value="B2C">B2C</option>
                        <option value="Direct">Direct</option>
                      </select>
                    </div>
                    <br>
                    <div class="col-md-4">
                      <br>
                      <label for="selectedMaterial">Select Material</label>
                      <select id="selectedMaterial" class="form-select" name="selectedMaterial"
                        (change)="onMaterialChange($event)" [(ngModel)]="newProduct.material" required>
                        <option value="">-- Select --</option>
                        <option *ngFor="let material of materials" [value]="material.name">{{ material.name }}</option>
                      </select>
                    </div>
                    <!-- Edit button and editable dropdowns -->
                    <div class="col-md-4" *ngIf="selectedMaterialData">
                      <br>
                      <label for="code">M_code</label>
                      <div>
                        <input type="text" id="code" class="form-control" name="code"
                          [(ngModel)]="selectedMaterialData.m_code" readonly>
                        <input type="hidden" value="0" id="p_id" class="form-control" name="p_id"
                          [(ngModel)]="selectedMaterialData.p_id" readonly>
                      </div>
                    </div>
                    <div class="col-md-4" *ngIf="selectedMaterialData">
                      <br>
                      <label for="type">M_type</label>
                      <div>
                        <input type="text" id="type" class="form-control" name="type"
                          [(ngModel)]="selectedMaterialData.m_type" readonly>
                      </div>
                    </div>
                    <div class="col-md-4" *ngIf="selectedMaterialData">
                      <br>
                      <label for="vendor">M_Vendor</label>
                      <div>
                        <input type="text" id="vendor" class="form-control" name="vendor"
                          [(ngModel)]="selectedMaterialData.m_Vendor" readonly>
                      </div>
                    </div>
                    <div class="col-md-4" *ngIf="selectedMaterialData">
                      <br>
                      <label for="M_inventory">M_inventory</label>
                      <div>
                        <input type="text" id="M_inventory" class="form-control" name="M_inventory"
                          [(ngModel)]="selectedMaterialData.m_inventory" readonly>
                      </div>
                    </div>
                    <div class="col-md-4" *ngIf="selectedMaterialData">
                      <br>
                      <label for="newmquantityperkg">Quantity/Per/kg</label>
                      <div>
                        <input type="text" placeholder="Enter here" id="newmquantityperkg" class="form-control"
                          name="newmquantityperkg" [(ngModel)]="selectedMaterialData.mquantity"
                          (input)="calculatePrice()" required>
                      </div>
                    </div>
                    <div class="col-md-4" *ngIf="selectedMaterialData">
                      <br>
                      <label for="cost">M_cost/per/kg</label>
                      <div>
                        <input type="text" id="cost" class="form-control" name="cost"
                          [(ngModel)]="selectedMaterialData.m_cost" readonly>
                      </div>
                    </div>
                  </div>
                  <div><br><br>
                    <div *ngIf="selectedMaterialData">
                      <table style="font-family: Georgia, 'Times New Roman', Times, serif;">
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Vendor</th>
                          <th>Quantity</th>
                          <th>Cost</th>
                          <th>Inventory</th>
                        </tr>
                        <tr *ngFor="let y of selectedMaterial">
                          <td>{{y.id}}</td>
                          <td>{{y.name}}</td>
                          <td>{{y.m_Vendor}}</td>
                          <td>{{y.mquantity}}</td>
                          <td>{{y.m_cost}}</td>
                          <td>{{y.m_inventory}}</td>
                        </tr>
                      </table>
                    </div>
                  </div><br>
                  <button style="margin-inline: 1000px; height: 40px; width: 120px;"  class="btn btn-primary">Submit</button>
                </form>
                <div class="col-md-4" *ngIf="selectedMaterialData">
                  <button class="btn btn-sm btn-info"style="margin-inline: 2px;" (click)="onAddButtonClick()">Add Material</button>
                  <button class="btn btn-sm btn-primary"style="margin-inline: 2px;" >Edit</button>
                  <button class="btn btn-sm btn-secondary"style="margin-inline: 2px;" >Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>