<main id="main" class="main" style="font-family: Georgia, 'Times New Roman', Times, serif;">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Create
                Recipe</strong></h1>
            <div class="row">
              <div class="col-lg-12">
                <div>
                  <form (ngSubmit)="createOrUpdateProduct()" #productForm="ngForm">
                    <!--  Changes WF -->
                    <div class="row">
                      <div class="col-md-4">
                        <label for="productCategory">Product Category</label>
                        <select id="productCategory" class="form-select" name="productCategory"
                          [(ngModel)]="newProduct.category" required>
                          <option value="">--Select--</option>
                          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="productBrand">Brand</label>
                        <select id="productBrand" class="form-select" name="productBrand" [(ngModel)]="newProduct.brand"
                          required>
                          <option value="">--Select--</option>
                          <option value="Tata">Tata</option>
                          <option value="Indica">Indica</option>
                          <option value="Govt">Govt</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="productName">Product Name</label>
                        <input type="text" placeholder="Enter here" id="productName" class="form-control"
                          name="productName" [(ngModel)]="newProduct.name" required>
                      </div>
                      <div class="col-md-4"><br>
                        <label for="customerName">Customer Name</label>
                        <select id="customerName" class="form-select" name="customerName"
                          [(ngModel)]="newProduct.customer" required>
                          <option value="">--Select--</option>
                          <option value="SCJ">SCJ</option>
                          <option value="Clay">Clay</option>
                          <option value="Claylogix">Claylogix</option>
                        </select>
                      </div>
                      <div class="col-md-4"><br>
                        <label for="clientType">Client Type</label>
                        <select id="clientType" class="form-select" name="clientType"
                          [(ngModel)]="newProduct.clientType" required>
                          <option value="">--Select--</option>
                          <option value="B2B">B2B</option>
                          <option value="B2C">B2C</option>
                          <option value="Direct">Direct</option>
                        </select>
                      </div>
                      <br>
                      <!-- <div class="col-md-4"><br>
                        <label for="recipe">Recipe</label>
                        <select id="recipe" class="form-select" name="recipe"
                          [(ngModel)]="newProduct.recipe" required>
                          <option value="">--Select--</option>
                          <option value="B2B">B2B</option>
                          <option value="B2C">B2C</option>
                          <option value="Direct">Direct</option>
                        </select>
                      </div> -->
                      <div class="col-md-4">
                        <br>
                        <label for="selectedMaterial">Select Material</label>
                        <select id="selectedMaterial" class="form-select" name="selectedMaterial"
                          (change)="onMaterialChange($event)" [(ngModel)]="newProduct.material" required>
                          <option value="">-- Select --</option>
                          <option *ngFor="let material of materials" [value]="material.id">{{ material.name }}</option>
                        </select>
                      </div>
                      
                      <!-- Edit button and editable dropdowns -->
                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="code">M_code</label>
                        <div *ngIf="!isEditing">
                          <select id="code" class="form-select" name="code" [(ngModel)]="selectedMaterialData.m_code" required>
                            <option [value]="selectedMaterialData.m_code">{{ selectedMaterialData.m_code }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="code" class="form-control" name="code" [(ngModel)]="selectedMaterialData.m_code" required>
                        </div>
                      </div>
                      
                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="type">M_type</label>
                        <div *ngIf="!isEditing">
                          <select id="type" class="form-select" name="type" [(ngModel)]="selectedMaterialData.m_type" required>
                            <option [value]="selectedMaterialData.m_type">{{ selectedMaterialData.m_type }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="type" class="form-control" name="type" [(ngModel)]="selectedMaterialData.m_type" required>
                        </div>
                      </div>
                      
                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="cost">M_cost</label>
                        <div *ngIf="!isEditing">
                          <select id="cost" class="form-select" name="cost" [(ngModel)]="selectedMaterialData.m_cost" required>
                            <option [value]="selectedMaterialData.m_cost">{{ selectedMaterialData.m_cost }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="cost" class="form-control" name="cost" [(ngModel)]="selectedMaterialData.m_cost" required>
                        </div>
                      </div>
                      
                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="vendor">M_Vendor</label>
                        <div *ngIf="!isEditing">
                          <select id="vendor" class="form-select" name="vendor" [(ngModel)]="selectedMaterialData.m_Vendor" required>
                            <option [value]="selectedMaterialData.m_Vendor">{{ selectedMaterialData.m_Vendor }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="vendor" class="form-control" name="vendor" [(ngModel)]="selectedMaterialData.m_Vendor" required>
                        </div>
                      </div>
                      
                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="M_inventory">M_inventory</label>
                        <div *ngIf="!isEditing">
                          <select id="M_inventory" class="form-select" name="M_inventory" [(ngModel)]="selectedMaterialData.m_inventory" required>
                            <option [value]="selectedMaterialData.m_inventory">{{ selectedMaterialData.m_inventory }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="M_inventory" class="form-control" name="M_inventory" [(ngModel)]="selectedMaterialData.m_inventory" required>
                        </div>
                      </div>
                      <!-- Display selected material's data in a table -->
                      <!-- <div *ngIf="selectedMaterialData"><br><br>
                        <h5 style="font-family: Georgia, 'Times New Roman', Times, serif;">Raw Material Data</h5>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>M_code</th>
                              <th>M_type</th>
                              <th>M_cost</th>
                              <th>M_Vendor</th>
                              <th>M_inventory</th> -->
                              <!-- <th>Actions</th> -->
                            <!-- </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{ selectedMaterialData.id }}</td>
                              <td>{{ selectedMaterialData.name }}</td>
                              <td>{{ selectedMaterialData.m_code }}</td>
                              <td>{{ selectedMaterialData.m_type }}</td>
                              <td>{{ selectedMaterialData.m_cost }}</td>
                              <td>{{ selectedMaterialData.m_Vendor }}</td>
                              <td>{{ selectedMaterialData.m_inventory }}</td> -->
                              <!-- <td>
                                <button class="btn btn-primary" style="margin-inline: 4px;">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                              </td> -->
                            <!-- </tr>
                          </tbody>
                        </table> -->
                      <!-- </div> -->
                    </div>
                    <br><br>
                    <button type="submit" class="btn-primary" [disabled]="!productForm.form.valid">{{
                      isEditMode ? 'Update' : 'Create' }}</button>
                  </form><br><br>
                  <div>
                    <div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
                    <!-- New success message element -->
                    <table>
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Product Name</th>
                          <th>Product Category</th>
                          <th>Raw Material</th>
                          <th>Brand</th>
                          <th>Client Type</th>
                          <th>Customer Name</th>
                          <th>Action</th>
                          <!-- New column for edit/remove buttons -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of products; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ product.name }}</td>
                          <td>{{ product.category }}</td>
                          <td>{{ product.material }}</td> 
                          <td>{{ product.brand }}</td>
                          <td>{{ product.clientType }}</td>
                          <td>{{ product.customer }}</td>
                          <td>
                            <button class="btn-primary" (click)="editProduct(i)" (click)="toggleEditing()">Edit</button>
                            <button class="btn-danger" (click)="removeProduct(i)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>