<main id="main" class="main" style="font-family: Georgia, 'Times New Roman', Times, serif;">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <strong>Create Recipe</strong>
            </h1>
            <div class="row">
              <div class="col-lg-12">
                <div>
                  <form (ngSubmit)="createOrUpdateProduct()" #productForm="ngForm">
                    <!--  Changes WF -->
                    <div class="row">
                      <div class="col-md-4">
                        <label for="productCategory">Product Category</label>
                        <select id="productCategory" class="form-select" name="productCategory"
                          [(ngModel)]="newProduct.category" required>
                          <option value="">--Select--</option>
                          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="productBrand">Brand</label>
                        <select id="productBrand" class="form-select" name="productBrand" [(ngModel)]="newProduct.brand"
                          required>
                          <option value="">--Select--</option>
                          <option value="Tata">Tata</option>
                          <option value="Indica">Indica</option>
                          <option value="Govt">Govt</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="productName">Product Name</label>
                        <input type="text" placeholder="Enter here" id="productName" class="form-control"
                          name="productName" [(ngModel)]="newProduct.name" required>
                      </div>
                      <div class="col-md-4"><br>
                        <label for="customerName">Customer Name</label>
                        <select id="customerName" class="form-select" name="customerName"
                          [(ngModel)]="newProduct.customer" required>
                          <option value="">--Select--</option>
                          <option value="SCJ">SCJ</option>
                          <option value="Clay">Clay</option>
                          <option value="Claylogix">Claylogix</option>
                        </select>
                      </div>
                      <div class="col-md-4"><br>
                        <label for="clientType">Client Type</label>
                        <select id="clientType" class="form-select" name="clientType"
                          [(ngModel)]="newProduct.clientType" required>
                          <option value="">--Select--</option>
                          <option value="B2B">B2B</option>
                          <option value="B2C">B2C</option>
                          <option value="Direct">Direct</option>
                        </select>
                      </div>
                      <br>
                      <div class="col-md-4">
                        <br>
                        <label for="selectedMaterial">Select Material</label>
                        <select id="selectedMaterial" class="form-select" name="selectedMaterial"
                          (change)="onMaterialChange($event)" [(ngModel)]="newProduct.material" required>
                          <option value="">-- Select --</option>
                          <option *ngFor="let material of materials" [value]="material.id">{{ material.name }}</option>
                        </select>
                      </div>

                      <!-- Edit button and editable dropdowns -->
                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="code">M_code</label>
                        <div *ngIf="!isEditing">
                          <select id="code" class="form-select" name="code" [(ngModel)]="newProduct.mcode" required>
                            <option value="">-- Select --</option>
                            <option [value]="selectedMaterialData.m_code">{{ selectedMaterialData.m_code }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="code" class="form-control" name="code"
                            [(ngModel)]="selectedMaterialData.m_code" required>
                        </div>
                      </div>

                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="type">M_type</label>
                        <div *ngIf="!isEditing">
                          <select id="type" class="form-select" name="type" [(ngModel)]="newProduct.mtype" required>
                            <option value="">-- Select --</option>
                            <option [value]="selectedMaterialData.m_type">{{ selectedMaterialData.m_type }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="type" class="form-control" name="type"
                            [(ngModel)]="selectedMaterialData.m_type" required>
                        </div>
                      </div>

                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="vendor">M_Vendor</label>
                        <div *ngIf="!isEditing">
                          <select id="vendor" class="form-select" name="vendor"
                            [(ngModel)]="selectedMaterialData.m_Vendor" required [(ngModel)]="newProduct.mvendor">
                            <option value="">-- Select --</option>
                            <option [value]="selectedMaterialData.m_Vendor">{{ selectedMaterialData.m_Vendor }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="vendor" class="form-control" name="vendor"
                            [(ngModel)]="selectedMaterialData.m_Vendor" required>
                        </div>
                      </div>

                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="M_inventory">M_inventory</label>
                        <div *ngIf="!isEditing">
                          <select id="M_inventory" class="form-select" name="M_inventory"
                            [(ngModel)]="selectedMaterialData.m_inventory" required [(ngModel)]="newProduct.minventory">
                            <option value="">-- Select --</option>
                            <option [value]="selectedMaterialData.m_inventory">{{ selectedMaterialData.m_inventory }}
                            </option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="M_inventory" class="form-control" name="M_inventory"
                            [(ngModel)]="selectedMaterialData.m_inventory" required>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="newmquantityperkg">Quantity/Per/kg</label>
                        <div *ngIf="!isEditing">
                          <input type="text" placeholder="Enter here" id="newmquantityperkg" class="form-control"
                            name="newmquantityperkg" [(ngModel)]="newProduct.mquantity" required>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="selectedMaterialData">
                        <br>
                        <label for="cost">M_cost/per/kg</label>
                        <div *ngIf="!isEditing">
                          <select id="cost" class="form-select" name="cost" [(ngModel)]="newProduct.mcost" required>
                            <option value="">-- Select --</option>
                            <option [value]="selectedMaterialData.m_cost">{{ selectedMaterialData.m_cost }}</option>
                          </select>
                        </div>
                        <div *ngIf="isEditing">
                          <input type="text" id="cost" class="form-control" name="cost"
                            [(ngModel)]="selectedMaterialData.m_cost" required>
                        </div>
                      </div>
                      
                      <!-- Add Material button dropdown box show here -->
                      <div class="row">
                        <div *ngIf="showDropdowns" class="col-md-12">
                          <div class="row">
                            <div class="col-md-4">
                              <br>
                              <label for="newmaterial">Material Name</label>
                              <input type="text" placeholder="Enter here" id="newmaterial" class="form-control"
                                name="newmaterial" [(ngModel)]="newProduct.Ematerial" required>
                            </div>
                            <div class="col-md-4">
                              <br>
                              <label for="newmcode">M_code</label>
                              <input type="text" placeholder="Enter here" id="newmcode" class="form-control"
                                name="newmcode" [(ngModel)]="newProduct.Emcode" required>
                            </div>
                            <div class="col-md-4">
                              <br>
                              <label for="newmtype">M_type</label>
                              <input type="text" placeholder="Enter here" id="newmtype" class="form-control"
                                name="newmtype" [(ngModel)]="newProduct.Emtype" required>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <br>
                              <label for="newmvendor">M_vendor</label>
                              <input type="text" placeholder="Enter here" id="newmvendor" class="form-control"
                                name="newmvendor" [(ngModel)]="newProduct.Emvendor" required>
                            </div>
                            <div class="col-md-4">
                              <br>
                              <label for="M_inventory">M_inventory</label>
                              <input type="text" placeholder="Enter here" id="M_inventory" class="form-control"
                                name="M_inventory" [(ngModel)]="newProduct.Eminventory" required>
                            </div>
                            <div class="col-md-4">
                              <br>
                              <label for="newmquantity">Quantity/Per/kg</label>
                              <input type="text" placeholder="Enter here" id="newmquantity" class="form-control"
                                name="newmquantity" [(ngModel)]="newProduct.Emquantity" (input)="calculatePrice()"
                                required>
                            </div>
                            <div class="col-md-4">
                              <br>
                              <label for="newmcost">M_cost/Per/kg</label>
                              <input type="text" placeholder="Enter here" id="newmcost" class="form-control"
                                name="newmcost" [(ngModel)]="newProduct.Emcost" required>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- </div> -->
                      <!-- Display selected material's data in a table -->
                      <!-- <div *ngIf="selectedMaterialData"><br><br>
                        <h5 style="font-family: Georgia, 'Times New Roman', Times, serif;">Raw Material Data</h5>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>M_code</th>
                              <th>M_type</th>
                              <th>M_cost</th>
                              <th>M_Vendor</th>
                              <th>M_inventory</th> -->
                      <!-- <th>Actions</th> -->
                      <!-- </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{ selectedMaterialData.id }}</td>
                              <td>{{ selectedMaterialData.name }}</td>
                              <td>{{ selectedMaterialData.m_code }}</td>
                              <td>{{ selectedMaterialData.m_type }}</td>
                              <td>{{ selectedMaterialData.m_cost }}</td>
                              <td>{{ selectedMaterialData.m_Vendor }}</td>
                              <td>{{ selectedMaterialData.m_inventory }}</td> -->
                      <!-- <td>
                                <button class="btn btn-primary" style="margin-inline: 4px;">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                              </td> -->
                      <!-- </tr>
                          </tbody>
                        </table> -->
                      <!-- </div> -->
                    </div>
                    <br><br>
                    <div>
                      <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">{{
                        isEditMode ? 'Update' : 'Create' }}</button>
                    </div>
                  </form> <br>
                  <div>
                    <button class="btn-secondary" (click)="onAddButtonClick()">Add
                      Material</button>
                  </div><br>
                 
                  <div>
                    <div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
                    <!-- New success message element -->
                    <table>
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Product Name</th>
                          <th>Product Category</th>
                          <th>Brand</th>
                          <th>Raw Material</th>
                          <th>Client Type</th>
                          <th>Customer Name</th>
                          <th>Details</th>
                          <th>Action</th>
                          <!-- New column for edit/remove buttons -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of products; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ product.name }}</td>
                          <td>{{ product.category }}</td>
                          <td>{{ product.brand }}</td>
                          <td>{{ product.name }} </td>
                          <td>{{ product.clientType }}</td>
                          <td>{{ product.customer }}</td>
                          <td> 
                            <button class="bi bi-info-circle" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"></button></td>
                          <td>
                            <button class="btn-primary" (click)="editProduct(i)" (click)="toggleEditing()"
                              style="margin-inline: 2px;">Edit</button>
                            <button class="btn-danger" (click)="removeProduct(i)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!--  Details Modal Code here -->
<div class="row">
  <div class="col-lg-12">
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="exampleModalToggleLabel" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 600px;"><strong>Product Details</strong></h2>
          </div>
          <div class="modal-body" style="font-family: Georgia, 'Times New Roman', Times, serif">
            <!-- Enter Text here --><br><br>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Product Name</li>
              <li class="list-group-item col-md-6">Bottle</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Product Category</li>
              <li class="list-group-item col-md-6">Extra Large</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Product Brand</li>
              <li class="list-group-item col-md-6">Clay Techsystems</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Customer Name</li>
              <li class="list-group-item col-md-6">SCJ Plastic</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Customer Type</li>
              <li class="list-group-item col-md-6">corporate</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Material Code</li>
              <li class="list-group-item col-md-6">P21822J</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Material Name</li>
              <li class="list-group-item col-md-6">Polyvinyl Chloride, Nylon, Polymer</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Material Type</li>
              <li class="list-group-item col-md-6">Type A</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Material Quantity</li>
              <li class="list-group-item col-md-6">500gm</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Material Cost</li>
              <li class="list-group-item col-md-6">1000</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Vendor Name</li>
              <li class="list-group-item col-md-6">Vendor XYZ</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item col-md-6">Inventory</li>
              <li class="list-group-item col-md-6">AC+BC Invetory Level</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
          </div>
        </div>
      </div>
    </div>              
  </div>
</div>