<aside id="sidebar" class="sidebar" style="font-family: Georgia, 'Times New Roman', Times, serif;">
   <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
         <a class="nav-link" routerLink="/dashboard">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
         </a>
      </li>
      <li class="nav-item" style="font-family: Georgia, 'Times New Roman', Times, serif;">
         <a class="nav-link collapsed" data-bs-target="#material-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i>
            <span>Master</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="material-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
               <a routerLink="/creatematerial">
                  <i class="bi bi-circle"></i>
                  <span>Create Material</span>
               </a>
            </li>
            <!-- <li>
               <a routerLink="/rawmaterialmanagment">
                  <i class="bi bi-circle"></i>
                  <span>Raw Material Management</span>
               </a>
            </li> -->
            <!-- <li>
               <a routerLink="/rawmaster">
                  <i class="bi bi-circle"></i>
                  <span>Raw Master</span>
               </a>
            </li> -->
            <li>
               <a routerLink="/productmaster">
                  <i class="bi bi-circle"></i>
                  <span>Create Customer</span>
               </a>
            </li>
            <li>
               <a routerLink="/viewmaterial">
                  <i class="bi bi-circle"></i>
                  <span>View Material</span>
               </a>
            </li>
         </ul>
      </li>
      <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#products-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-plus-square"></i>
            <span>Master</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="products-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            
         </ul>
      </li> -->
      <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#productsadd-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-plus-square"></i>
            <span>Add Products</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="productsadd-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
               <a routerLink="/productadd">
                  <i class="bi bi-circle"></i>
                  <span>Add Products</span>
               </a>
            </li>
         </ul>
      </li> -->
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#recipe-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-receipt"></i>
            <span>Recipe</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="recipe-nav" class="nav-content collapse" data-bs-parent="#sFidebar-nav">
            <li>
               <a routerLink="/recipe">
                  <i class="bi bi-circle"></i>
                  <span>Recipe Creation</span>
               </a>
            </li>
            <!-- <li>
               <a routerLink="/editrecipe">
                  <i class="bi bi-circle"></i>
                  <span>Recipe Edit/Update</span>
               </a>
            </li> -->
            <li>
               <a routerLink="/viewrecipe">
                  <i class="bi bi-circle"></i>
                  <span>View Recipe</span>
               </a>
            </li>
            <li>
               <a routerLink="/comparison">
                  <i class="bi bi-circle"></i>
                  <span>Recipe Comparison</span>
               </a>
            </li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#invoice-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i>
            <span>Invoice</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="invoice-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
               <a routerLink="/invoice">
                  <i class="bi bi-circle"></i>
                  <span>Invoice Details</span>
               </a>
            </li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-cart-check"></i>
            <span>Inventory</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="inventory-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
               <a routerLink="/Inventory">
                  <i class="bi bi-circle"></i>
                  <span>Inventory Reports</span>
               </a>
            </li>
         </ul>
      </li>
      <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#masters-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-cpu"></i>
            <span>Masters</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="masters-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
         </ul>
      </li> -->
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#cost-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-layers"></i>
            <span>Cost & Pricing</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="cost-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
               <a routerLink="/cost">
                  <i class="bi bi-circle"></i>
                  <span>Calculation</span>
               </a>
            </li>
            <li>
               <a routerLink="/costadjustment">
                  <i class="bi bi-circle"></i>
                  <span>Adjustment</span>
               </a>
            </li>
            <li>
               <a routerLink="/price">
                  <i class="bi bi-circle"></i>
                  <span>Pricing</span>
               </a>
            </li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-safe"></i>
            <span>Reporting</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="reports-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
               <a routerLink="/reporting">
                  <i class="bi bi-circle"></i>
                  <span>Monthly Reports</span>
               </a>
            </li>
            <!-- <li>
               <a routerLink="/insights">
                  <i class="bi bi-circle"></i>
                  <span>Insights and Analytics</span>
               </a>
            </li> -->
            <!-- <li>
               <a routerLink="/identification">
                  <i class="bi bi-circle"></i>
                  <span>Discrepancy Identification</span>
               </a>
            </li> -->
            <li>
               <a routerLink="/gapreporting">
                  <i class="bi bi-circle"></i>
                  <span>Discrepancy Reporting</span>
               </a>
            </li>
         </ul>
      </li>
      <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#gap-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-ui-radios-grid"></i>
            <span>Gap Analysis</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="gap-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
           
            
         </ul>
      </li> -->
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#visualization-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-bar-chart"></i>
            <span>Data Visualization</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="visualization-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
               <a routerLink="/charts">
                  <i class="bi bi-circle"></i>
                  <span>Sales Charts</span>
               </a>
            </li>
            <li>
               <a routerLink="/import">
                  <i class="bi bi-circle"></i>
                  <span>Data Import</span>
               </a>
            </li>
            <li>
               <a routerLink="/test">
                  <i class="bi bi-circle"></i>
                  <span>Test Component</span>
               </a>
            </li>
            <!-- <li>
               <a routerLink="/reconciliation">
                  <i class="bi bi-circle"></i>
                  <span>Data Reconciliation</span>
               </a>
            </li> -->
         </ul>
      </li>
      
      <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#reconciliation-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-speedometer2"></i>
            <span>Data Reconciliation</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="reconciliation-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
         </ul>
      </li> -->
      <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#"> 
            <i class="bi bi-gem"></i><span>Help</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user-profile"> <i class="bi bi-person"></i> <span>Profile</span> </a></li>
            <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-faq"> <i
                     class="bi bi-question-circle"></i> <span>F.A.Q</span> </a></li>
            <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-contact"> <i
                     class="bi bi-envelope"></i> <span>Contact</span> </a></li> -->
            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-register"> <i class="bi bi-card-list"></i> <span>Register</span> </a></li> -->
            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-login"> <i class="bi bi-box-arrow-in-right"></i> <span>Login</span> </a></li> -->
            <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-error404"> <i class="bi bi-dash-circle"></i> <span>Error 404</span> </a></li>
            <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-blank"> <i class="bi bi-file-earmark"></i> <span>Blank</span> </a></li>  -->
            <!-- <li> <a routerLink="/icons-boxicons"> <i class="bi bi-circle"></i><span>Boxicons</span> </a></li> -->
         <!-- </ul>
      </li> -->
      <li class="nav-heading"></li>
   </ul>
</aside>