<main id="main" class="main">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
  <!-- Success Message Modal -->
  <div class="modal fade align-top" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Success</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ successMessage }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Error Message Modal -->
  <div class="modal fade align-top" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirmation Modal -->
  <div class="modal fade align-top" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">{{ confirmModalTitle }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ confirmModalMessage }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="performAction()">Confirm</button>
        </div>
      </div>
    </div>
  </div>

            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <strong>Create Raw Material</strong>
            </h1>

            <div class="row" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="name">Add Material</label>
                    <input type="text" class="form-control" placeholder="Enter Material" id="name"
                      [(ngModel)]="material.name" />
                  </div>
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="nametype">Add Material Type</label>
                    <input type="text" class="form-control" placeholder="Enter Material" id="nametype"
                      [(ngModel)]="material.M_type" />
                  </div>
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="namecode">Add Material Code</label>
                    <input type="number" class="form-control" placeholder="Enter Material Code" id="namecode"
                      [(ngModel)]="material.code" />
                  </div>
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="namecost">Add Cost per/unit</label>
                    <input type="number" class="form-control" placeholder="Enter Material Cost" id="namecost"
                      [(ngModel)]="material.M_cost" />
                  </div>
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="namevendor">Add Vendor</label>
                    <input type="text" class="form-control" placeholder="Enter Vendor" id="namevendor"
                      [(ngModel)]="material.M_Vendor" />
                  </div>
                  <div class="col-md-4" style="margin-top: 30px;">
                    <label for="namelevel">Stock</label>
                    <input type="text" class="form-control" placeholder="Enter Inventory Level" id="namelevel"
                      [(ngModel)]="material.M_inventory" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mt-5 mb-4 text-right">
              <br>
              <button class="btn btn-primary" style="padding-inline: 30px;" *ngIf="editIndex === -1"
                (click)="addMaterial()">Add</button>
              <button class="btn btn-primary" *ngIf="editIndex !== -1" (click)="updateMaterial()">Update</button>
            </div>
          </div>

          <div class="row mt-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
            <div class="col-lg-12">
              <table class="table" *ngIf="materialsList.length > 0">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Material Name</th>
                    <th>Material Type</th>
                    <th>Material Code</th>
                    <th>Cost Per/Unit</th>
                    <th>Vendor</th>
                    <th>Stock</th>
                    <th>Created Date</th>
                    <th>Details</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let material of filteredMaterials let i = index;">
                    <td>{{ material?.id }}</td>
                    <td>{{ material?.name }}</td>
                    <td>{{ material?.m_code }}</td>
                    <td>{{ material?.m_type }}</td>
                    <td>{{ material?.m_cost }}</td>
                    <td>{{ material?.m_Vendor }}</td>
                    <td>{{ material?.m_inventory }}</td>
                    <td>{{ formatDate(material?.created_date) }}</td>
                    <td>
                      <button class="bi bi-info-circle" style="margin-inline-start: 40px;"
                        data-bs-target="#exampleModalToggle" data-bs-toggle="modal" (click)="openModal(material)"></button>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-primary" style="margin-inline: 2px;"
                        (click)="editMaterial(i)">Edit</button>
                      <button class="btn btn-sm btn-danger" (click)="deleteMaterialConfirmed()">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="materialsList.length === 0"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Details Modal -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="mexampleModalToggleLabel"
          style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 600px;">
          <strong>Created Material Details</strong>
        </h2>
      </div>
      <div class="modal-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="table-container">
          <table class="table-details  col-md-12">
            <tr class="col-md-12">
              <td class="col-md-6"><strong>ID:</strong></td>
              <td class="col-md-6">{{ selectedMaterial?.id }}</td>
            </tr>
            <tr>
              <td><strong>Material Name:</strong></td>
              <td>{{ selectedMaterial?.name }}</td>
            </tr>
            <tr>
              <td><strong>Material Type:</strong></td>
              <td>{{ selectedMaterial?.m_type }}</td>
            </tr>
            <tr>
              <td><strong>Material Code:</strong></td>
              <td>{{ selectedMaterial?.m_code }}</td>
            </tr>
            <tr>
              <td><strong>Cost Per/Unit:</strong></td>
              <td>{{ selectedMaterial?.m_cost }}</td>
            </tr>
            <tr>
              <td><strong>Vendor:</strong></td>
              <td>{{ selectedMaterial?.m_Vendor }}</td>
            </tr>
            <tr>
              <td><strong>Stock:</strong></td>
              <td>{{ selectedMaterial?.m_inventory }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>