<main id="main" class="main">
    <div class="pagetitle"></div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body"><br>
                        <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                            <strong
                                style="font-family: Georgia, 'Times New Roman', Times, serif;">Reconciliation</strong>
                        </h1><br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="Customer">Customer Name</label>
                                        <select id="Customer" class="form-select" name="Customer">
                                            <option value="">--Select--</option>
                                            <option>Deepak Tiwari</option>
                                            <option>Anshul Sharma</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="productName">Product Name</label>
                                        <select id="productName" class="form-select" name="productName">
                                            <option value="">--Select--</option>
                                            <option>Bottle</option>
                                            <option>Glass</option>
                                            <option>Household</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="productName">Material Name</label>
                                        <select id="productName" class="form-select" name="productName">
                                            <option value="">--Select--</option>
                                            <option>Nylon</option>
                                            <option>Polymirisation</option>
                                            <option>Polytheine</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>