<main id="main" class="main">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- Success Message Modal -->
            <div class="modal fade align-top" style="font-family: Georgia, 'Times New Roman', Times, serif;"
              id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="font-family: Georgia, 'Times New Roman', Times, serif;"
                      id="successModalLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <p>{{ successMessage }}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Error Message Modal -->
            <div class="modal fade align-top" style="font-family: Georgia, 'Times New Roman', Times, serif;"
              id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="font-family: Georgia, 'Times New Roman', Times, serif;"
                      id="errorModalLabel">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <p>{{ errorMessage }}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Confirmation Modal -->
            <div class="modal fade align-top" style="font-family: Georgia, 'Times New Roman', Times, serif;"
              id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="font-family: Georgia, 'Times New Roman', Times, serif;"
                      id="confirmModalLabel">{{ confirmModalTitle }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <p>{{ confirmModalMessage }}</p>
                  </div>
                  <div class="modal-footer" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <button type="button" class="btn btn-danger close" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary close" data-bs-dismiss="modal"
                      (click)="performAction()">Confirm</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Success Modal for Update -->
            <div class="modal fade align-top" style="font-family: Georgia, 'Times New Roman', Times, serif;"
              id="updateSuccessModal" tabindex="-1" aria-labelledby="updateSuccessModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="font-family: Georgia, 'Times New Roman', Times, serif;"
                      id="updateSuccessModalLabel">Success</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <p>{{ successMessage }}</p>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <strong style="font-family: Georgia, 'Times New Roman', Times, serif;">List Of Materials <div
                  class="col-md-4" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 750px;">
                  <form class="search-form d-flex align-items-center">
                    <div class="input-group">
                      <input class="form-control" id="searchKeyword" [(ngModel)]="searchQuery" name="query" type="text"
                        placeholder="Search here.." title="Enter search keyword" (input)="searchMaterials()" />
                      <button type="submit" class="btn btn-primary" title="Search"
                        (click)="searchMaterials()">Search</button>
                    </div>
                  </form>
                </div></strong>
            </h1>
            <br>
            <br>
            <table style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 13px;">
              <thead>
                <tr>
                  <th (click)="sortTable('id')">Id <i class="bi bi-arrow-down-up"></i></th>
                  <th (click)="sortTable('name')">Name <i class="bi bi-arrow-down-up"></i></th>
                  <th (click)="sortTable('m_code')">Material Code <i class="bi bi-arrow-down-up"></i></th>
                  <th (click)="sortTable('m_type')">Material Type <i class="bi bi-arrow-down-up"></i></th>
                  <th (click)="sortTable('m_cost')">Material Cost <i class="bi bi-arrow-down-up"></i></th>
                  <th (click)="sortTable('m_Vendor')">Vendor <i class="bi bi-arrow-down-up"></i></th>
                  <th (click)="sortTable('m_inventory')">Stock <i class="bi bi-arrow-down-up"></i></th>
                  <th (click)="sortTable('createddate')"> Created Date <i class="bi bi-arrow-down-up"></i></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let material of filteredMaterials">
                  <td>{{ material?.id }}</td>
                  <td>
                    <ng-container *ngIf="!material.isEditing; else editName">
                      {{ material?.name }}
                    </ng-container>
                    <ng-template #editName>
                      <input type="text" [(ngModel)]="material.name" class="form-control">
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="!material.isEditing; else editCode">
                      {{ material?.m_code }}
                    </ng-container>
                    <ng-template #editCode>
                      <input type="text" [(ngModel)]="material.m_code" class="form-control">
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="!material.isEditing; else editType">
                      {{ material?.m_type }}
                    </ng-container>
                    <ng-template #editType>
                      <input type="text" [(ngModel)]="material.m_type" class="form-control">
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="!material.isEditing; else editCost">
                      {{ material?.m_cost }}
                    </ng-container>
                    <ng-template #editCost>
                      <input type="text" [(ngModel)]="material.m_cost" class="form-control">
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="!material.isEditing; else editVendor">
                      {{ material?.m_Vendor }}
                    </ng-container>
                    <ng-template #editVendor>
                      <input type="text" [(ngModel)]="material.m_Vendor" class="form-control">
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="!material.isEditing; else editInventory">
                      {{ material?.m_inventory }}
                    </ng-container>
                    <ng-template #editInventory>
                      <input type="text" [(ngModel)]="material.m_inventory" class="form-control">
                    </ng-template>
                  </td>
                  <td>{{ formatDate(material?.created_date) }}</td>
                  <td>
                    <ng-container *ngIf="!material.isEditing; else editButtons">
                      <button class="btn btn-sm btn-primary" style="margin-inline: 2px;"
                        (click)="editMaterial(material)">Edit</button>
                      <button class="btn btn-sm btn-danger" style="margin-inline: 2px;"
                        (click)="deleteMaterial(material)">Delete</button>
                    </ng-container>
                    <ng-template #editButtons>
                      <button class="btn btn-sm btn-success" style="margin-inline: 2px;"
                        (click)="updateMaterial(material)">Update</button>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>