<main id="main" class="main" style="font-family: Georgia, 'Times New Roman', Times, serif;">
  <div class="pagetitle"></div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card"><br>
          <div class="card-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
            <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <strong>Reconciliation</strong>
            </h1>
            <!-- <div class="col-md-4" style="font-family: Georgia, 'Times New Roman', Times, serif; margin-inline: 750px;">
              <form class="search-form d-flex align-items-center">
                <div class="input-group">
                  <input class="form-control" [(ngModel)]="searchKeyword" id="searchKeyword" name="query" type="text"
                    placeholder="Search here.." title="Enter search keyword" (input)="searchRecipes()" />
                  <button type="submit" class="btn btn-primary" title="Search">Search</button>
                </div>
              </form>
            </div><br> -->
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-md-6">
                    <label for="Customername">Customer Name</label>
                    <select id="Customername" class="form-select" aria-label="Default select example">
                      <option value="">Select</option>
                      <option>Deepak Tiwari</option>
                    </select>
                  </div>
                  <!-- <div class="col-md-4">
                    <label for="Recipe">Master Recipe</label>
                    <select id="Recipe" class="form-select" aria-label="Default select example"
                      [(ngModel)]="selectedProduct1">
                      <option value="">Select</option>
                      <option *ngFor="let recipe of filteredRecipes" [value]="recipe.name">{{ recipe.name }}</option>
                      <option>Polyvinyl Chloride</option>
                    </select>
                  </div> -->
                  <div class="col-md-6">
                    <label for="name">Excel Recipe</label>
                    <select id="name" class="form-select" aria-label="Default select example"
                      [(ngModel)]="selectedProduct">
                      <option value="">Select</option>
                      <!-- <option *ngFor="let recipe of filteredRecipes" [value]="recipe.name">{{ recipe.name }}</option> -->
                      <option value="Polyvinyl Chloride">Bottle</option>
                    </select>
                  </div>
                  <!-- <div class="col-md-6">
                    <label for="Customername">Customer Name</label>
                    <select id="Customername" class="form-select" aria-label="Default select example">
                      <option value="">Select</option>
                      <option>Rahul Sir</option>
                    </select>
                  </div> -->
                  <br>
                  <div>
                    <br><br>
                    <button class="btn btn-primary" style="height: 40px; width: 120px; margin-inline:500px;"
                      (click)="compareRecipes()">Compare</button>
                  </div>
                  <br><br><br>
                  <div *ngIf="showComparisonResults"> <br><br><br>
                    <div class="row col-md-12"
                      style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14px;margin-left: 2px;">
                      <br><br>
                      <!-- <h6 style="font-family: Georgia, 'Times New Roman', Times, serif;">Compared Product Recipe
                      </h6> -->
                      <br><br> <br><br>
                      <table style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 13px;">
                        <thead>
                          <tr>
                          <tr>
                            <th>
                              <h6 style="font-family: Georgia, 'Times New Roman', Times, serif;">
                                <strong>Compared Recipe</strong>
                              </h6>
                            </th>
                            <td>
                              <h6 style="font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Excel
                                  Recipe</strong></h6>
                            </td>
                            <td>
                              <h6 style="font-family: Georgia, 'Times New Roman', Times, serif;"><strong>Master
                                  Recipe</strong></h6>
                            </td>
                          </tr>
                          <tr>
                            <th><strong>Category</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeCategory }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeCategory" type="text"
                                class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeCategory }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeCategory" type="text"
                                class="form-control">
                            </td>
                          </tr>
                          <tr>
                            <th><strong>Brand</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeBrand }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeBrand" type="text" class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeBrand }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeBrand" type="text" class="form-control">
                            </td>
                          </tr>
                          <tr>
                            <th><strong>Client</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeClientType }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeClientType" type="text"
                                class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeClientType }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeClientType" type="text"
                                class="form-control">
                            </td>
                          </tr>
                          <tr>
                            <th><strong>Material Name</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeMaterialName }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeMaterialName" type="text"
                                class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeMaterialName }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeMaterialName" type="text"
                                class="form-control">
                            </td>
                          </tr>
                          <tr>
                            <th><strong>Code</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeCode }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeCode" type="text" class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeCode }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeCode" type="text" class="form-control">
                            </td>

                          </tr>
                          <tr>
                            <th><strong>Type</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeType }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeType" type="text" class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeType }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeType" type="text" class="form-control">
                            </td>

                          </tr>
                          <tr>
                            <th><strong>Quantity</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeQuantity }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeQuantity" type="text"
                                class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeQuantity }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeQuantity" type="text"
                                class="form-control">
                            </td>

                          </tr>
                          <tr>
                            <th><strong>Cost Per/unit</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeCostPerUnit }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeCostPerUnit" type="text"
                                class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeCostPerUnit }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeCostPerUnit" type="text"
                                class="form-control">
                            </td>

                          </tr>
                          <tr>
                            <th><strong>Vendor</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeVendor }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeVendor" type="text"
                                class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeVendor }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeVendor" type="text" class="form-control">
                            </td>

                          </tr>
                          <tr>
                            <th><strong>Stock</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeStock }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeStock" type="text" class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeStock }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeStock" type="text" class="form-control">
                            </td>
                          </tr>
                          <tr>
                            <th><strong>Total Cost</strong></th>
                            <td><span *ngIf="!editMode">{{ createdRecipeTotal }}</span>
                              <input *ngIf="editMode" [(ngModel)]="createdRecipeTotal" type="text" class="form-control">
                            </td>
                            <td>
                              <span *ngIf="!editMode">{{ actualRecipeTotal }}</span>
                              <input *ngIf="editMode" [(ngModel)]="actualRecipeTotal" type="text" class="form-control">
                            </td>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <br><br>
                    <!-- <div *ngIf="!editMode">
                      <button class="btn btn-sm btn-primary" (click)="editMode = true">Edit</button>
                      <button class="btn btn-sm btn-danger" style="margin-inline: 2px;">Delete</button>
                    </div>
                    <div *ngIf="editMode">
                      <button class="btn btn-sm btn-success" style="margin-inline: 2px;"
                        (click)="saveChanges()">Save</button>
                      <button class="btn btn-sm btn-danger" style="margin-inline: 2px;"
                        (click)="cancelChanges()">Cancel</button>
                    </div> -->
                    <button type="button" class="btn btn-sm btn-secondary reset-button"
                      style="height: 30px; width: 70px; margin-inline: 1050px;" (click)="resetData()">Reset</button>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>