<main id="main" class="main" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="pagetitle"></div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;">Recipe
                            Edit/Update</h1><br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <h5 style="font-family: Georgia, 'Times New Roman', Times, serif;">Update Recipe
                                    </h5>
                                    <form>
                                        <div class="form-group col-md-4">
                                            <label for="recipe-id-delete">Recipe Id</label>
                                            <input type="text" class="form-control" id="recipe-id-delete"
                                                placeholder="Enter here" name="recipe-id-delete" required>
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Update</button><br>
                                    </form><br><br>
                                    <h5 style="font-family: Georgia, 'Times New Roman', Times, serif;">Delete Recipe
                                    </h5>
                                    <form>
                                        <div class="form-group col-md-4">
                                            <label for="recipe-id-delete">Recipe Id</label>
                                            <input type="text" class="form-control" id="recipe-id-delete"
                                                placeholder="Enter here" name="recipe-id-delete" required>
                                        </div><br>
                                        <button type="submit" class="btn btn-danger">Delete</button><br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>