<main id="main" class="main">
    <div class="pagetitle"></div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Raw Master</h1><br>
              <div class="row">
                <div class="col-lg-12">
                  <div>
                    <form (ngSubmit)="handleSubmit()" #productForm="ngForm">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="materialName">Material Name</label>
                          <select id="materialName" class="form-select" name="materialName" [(ngModel)]="materialName" required>
                            <option value="">-- Select --</option>
                            <option *ngFor="let material of materials" [value]="material.name">{{ material.name }}</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label for="materialType">Material Type</label>
                          <select id="materialType" class="form-select" name="materialType" [(ngModel)]="materialType" required>
                            <option value="">-- Select --</option>
                            <option value="Material Type1">Type 1</option>
                            <option value="Material Type2">Type 2</option>
                            <option value="Material Type3">Type 3</option>
                          </select>
                        </div>
                        <!-- <div class="col-md-4">
                          <label for="materialElement">Material Element</label>
                          <select id="materialElement" class="form-select" name="materialElement">
                            <option value="">-- Select --</option>
                            <option value="Material Type1">Ethylene</option>
                            <option value="Material Type2">Catalysts</option>
                            <option value="Material Type3">Co-monomers</option>
                            <option value="Material Type1">Antioxidants</option>
                            <option value="Material Type2">Stabilizers</option>
                            <option value="Material Type3">Anti-block-agent</option>
                          </select>
                        </div> -->
                        <div class="col-md-4">
                          <label for="currentCost">Current Cost</label>
                          <input type="number" id="currentCost" class="form-control" placeholder="Enter Cost" name="currentCost" [(ngModel)]="currentCost" required>
                        </div>
                        <div class="col-md-4"><br>
                          <label for="vendorInfo">Vendor/Supplier Information</label>
                          <input type="text" id="vendorInfo" class="form-control" placeholder="Enter Info" name="vendorInfo" [(ngModel)]="vendorInfo" required>
                        </div>
                        <div class="col-md-4"><br>
                          <label for="inventoryLevel">Inventory Level</label>
                          <input type="number" id="inventoryLevel" class="form-control" placeholder="Enter here" name="inventoryLevel" [(ngModel)]="inventoryLevel" required>
                        </div>
                      </div><br><br>
                      <button type="submit" class="btn-primary" [disabled]="!productForm.form.valid">{{ isEditMode ? 'Update' : 'Create' }}</button>
                    </form><br><br>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Material Name</th>
                          <th>Material Type</th>
                          <th>Current Cost</th>
                          <th>Vendor Info</th>
                          <th>Inventory Level</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let product of products; let i = index">
                          <td>{{ product.materialName }}</td>
                          <td>{{ product.materialType }}</td>
                          <td>{{ product.currentCost }}</td>
                          <td>{{ product.vendorInfo }}</td>
                          <td>{{ product.inventoryLevel }}</td>
                          <td>
                            <button type="button" class="btn btn-sm btn-primary" (click)="editProduct(i)">Edit</button>
                            <button type="button" class="btn btn-sm btn-danger" (click)="removeProduct(i)">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  